<div class="layout" [ngClass]="{ 'app-dark': theme.isDarkMode() }">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Contenu principal -->
  <main class="content">
    <section class="page-container">
      <router-outlet></router-outlet>
    </section>

    <!-- 🌙 Bouton flottant -->
    <button
      pButton
      type="button"
      [icon]="theme.isDarkMode() ? 'pi pi-sun' : 'pi pi-moon'"
      class="floating-theme-btn p-button-rounded p-button-text"
      (click)="toggleDarkMode()"
      [ngClass]="{ active: theme.isDarkMode() }"
    ></button>
  </main>
</div>
