<div class="layout" [ngClass]="{dark: darkMode}">
  <app-sidebar></app-sidebar>

  <main class="content">
    <p-toolbar styleClass="shadow-2 toolbar">
      <div class="p-toolbar-group-left flex items-center gap-2">
        <button pButton icon="pi pi-sun" class="p-button-rounded p-button-text" (click)="toggleDarkMode()"></button>
        <h2>Tableau de bord</h2>
      </div>
      <div class="p-toolbar-group-right flex items-center gap-3">
        <p-avatar image="assets/user.png" label="AAS"></p-avatar>
        <span class="font-semibold">User</span>
      </div>
    </p-toolbar>

    <section class="page-container">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
